/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
 @font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("./abcsans-light.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #1C1C1C;
}
body {
  opacity: 0;
}
body {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
}
#map {
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 1.5rem;
  left: .5rem;
  color: white;
  font-size: .9rem;
}
.legend {
  display: flex;
  margin-top: .25rem;
}
.legend:first-child {
  margin-top: 0;
}
.label {
  line-height: 1rem;
}
.box {
  width: 1rem;
  height: 1rem;
  border: solid .5px white;
}
.box:first-child {
  margin-right: .25rem;
}
#footer {
  background: #333;
  padding: .25rem;
  box-shadow: 2px 2px 3px white;
  box-sizing: border-box;
}
#stayKey .box {
  /* background: #FF6100; */
  background: #01CFFF;
}
#watchKey .box {
  background: #01CFFF;
}
@media only screen and (min-width: 650px) {
  #footer {
    bottom: 2rem;
    left: 2rem;
  }
  body {
    bottom: 0;
  }
}
