/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
 @font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("./abcsans-light.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  opacity: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#container {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: .5rem;
}
#map {
  height: 100%;
  width: 100%;
}
#border {
  fill: none;
  stroke: #999;
  stroke-dasharray: 2 2;
}
#water path {
  fill: #999;
  stroke: white;
  pointer-events: none;
}
#legend {
  display: flex;
  flex-flow: column;
}
#legendBar {
  background: aliceblue;
  height: 20px;
  margin: 1rem 10px 0px 10px;
}
#axis {
  height: 32px;
}
#footer {
  font-size: .75rem;
}
#optionsType, #optionsDisplay {
  position: fixed;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  text-align: center;
  color: white;
}
.option {
  background: #ccc;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 3px #333;
  width: 80px;
}
#optionsDisplay .option {
  margin-bottom: 0px;
  margin-top: 5px;
}
.option.selected {
  background: #F75F00;
  pointer-events: none;
}
.suburb {
  stroke: white;
  pointer-events: none;
}
.suburb.selected {
  stroke: #FFB300;
  stroke-width: 2;
}
.domain {
  stroke: none;
}
.tick line {
  stroke: #666;
}
.tick text {
  fill: #666;
  font-size: .7rem;
}
h1, p {
  margin: 0;
}
#tip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #333;
  background: #333;
  color: white;
}
#tip h1 {
  font-size: .8rem;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
#tip p {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
  font-size: .7rem;
}
#tip p span {
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #FFB300;
}
.voronoi {
  fill: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  .option {
    font-size: 1.1rem;
    margin-bottom: 10px;
    width: 90px;
  }
  #optionsDisplay .option {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #footer {
    font-size: .8rem;
  }
}
